/*  Agustin Ferres - Nº: 323408 */


/* ------------------------------- General ------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin: 10px 0;
}

header, h2, h3 {
    text-align: center;
}

h2 {
    padding: 1rem 0;
    border-bottom: 1px solid #00000020;
}

p, h3 {
    margin: 1rem 0;
}

div.input-container {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

/* ------------------------------- Header ------------------------------- */

header {
    background-color: #f9a370;
}

header > img {
    width: 200px;
    aspect-ratio: 3/1;
    margin-bottom: 5px;
}

header > nav > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* ------------------------------- General Info ------------------------------- */

section#general {
    background-color: #f6f1db;
}

section#general > div#profilePicture-container {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

section#general > div#profilePicture-container > img {
    width: 100px;
    aspect-ratio: 1/1;
}

/* ------------------------------- Gestion ------------------------------- */

section#gestion {
    background-color: #ffd388;
    display: none;
}

#listaTemas, #listaTemasSinPreguntas {
    padding: 0 2rem;
}

#listaTemas > li > p, #listaTemasSinPreguntas > li > p {
    margin: 0;
}

form {
    display: flex;
    gap: 5px;
}

form#formPreguntas {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 400px);
}

form#formPreguntas > div {
    grid-row: 2;
}

form#formPreguntas div:nth-child(1),
form#formPreguntas div:nth-child(2) {
    grid-row: 1;
}

form#formPreguntas > button {
    grid-row: 2;
    width: 20%;
}

div#tableOrder {
    display: flex;
    align-items: center;
    gap: 5px;
}

table {
    width: 100%;
}

th, tr {
    background-color: #f3f1f2;
    border: 1px solid #000;
}

/* ------------------------------- Jugar ------------------------------- */

section#jugar {
    background-color: #fddac6;
    display: none;
}

section#jugar > article#jugarPreguntas {
    display: none;
    padding: 0 0 1rem 0;
}

p#textoPreguntaJugar, div#respuestasJugar > button {
    background-color: #e17c24;
    color: #fff;
    padding: 1rem 2rem;
    border: 1px solid black;
}

p#textoPreguntaJugar {
    text-align: center;
    margin: 2rem;
}

section#jugar > article > div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

div#respuestasJugar {
    margin-bottom: 20px;
}

div#respuestasJugar > button {
    appearance: none;
}
